h1 {
  margin: 1em;
  width: 70%;
  font-size: 2.6em;
  font-weight: 700;
}
.changeName {
  width: 70%;
}
.imgGroup {
  margin-left: 2em;
  width: 80%;
  max-width: 430px;
}
.leftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.tagCopy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.codeGroup {
  background: #ffbf85;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  width: 50%;
  padding: 1em;
}
#copy {
  cursor: pointer;
  padding: 0.7em;
  font-size: 1.3em;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.textCodeGroup {
  margin-top: 15vh;
  margin-bottom: 2vh;
  font-size: 1.5em;
  width: 80%;
}
.textCodeGroup div {
  width: 70%;
}

.shareGroup {
  margin-top: 5vh;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  background-color: var(--secondary-color);
  width: 90%;
  font-size: 1.3em;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPart {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navGroup {
  /* margin-top: 5vh; */
  display: flex;
  font-size: 120%;
  width: 95%;
  justify-content: space-around;
}

.family {
  height: fit-content;
  width: 60%;
}
a {
  color: unset;
}
.bold {
  font-weight: 700;
}
