<h1>Gestion du groupe : {{ group.name }}</h1>
<div id="dashboard">
  <div class="headerButtons">
    <div (click)="clickAddExpense()" class="buttonShadow">
      Ajouter une Dépense
    </div>
    <div (click)="showHistory()" class="buttonShadow">
      Historique
    </div>
    <div (click)="copyShare()" id="share" class="buttonShadow">Partager<span id="link">{{group.tag}}</span><span
        id="copied">Copié</span></div>

  </div>
  <div id="formExpense" #formApparition>
    <form [formGroup]="ExpenseForm" (ngSubmit)="onSubmit()">
      <h2>Saisir les informations de la Dépense</h2>
      <div class="divInfos">
        <label for="name">Nom</label><input type="text" name="name" id="name" formControlName="name" required />
      </div>
      <div class="divInfos">
        <label for="amount">Montant</label><input type="text" name="amount" id="amount" formControlName="amount"
          required />
      </div>
      <div class="divInfos" id="userList">
        <label for="listUser">Utilisateurs concernés</label>
        <label class="container" *ngFor="let item of this.listUser"><input type="checkbox"
            (change)="selectTeamUse($event)" name="{{ item.id }}" id="{{ item.username }}" />
          <div class="checkmark"></div>
          <div class="itemUsername">{{ item.username }}</div>
        </label>
      </div>
      <div class="divInfos">
        <label for="description">Description</label><input type="text" name="description" id="description"
          formControlName="description" required />
      </div>
      <div [@inOutAnimation] class="error" *ngIf="this.errorForm">
        Mauvais Mot de passe
      </div>
      <a (click)="this.formExpenseCss.nativeElement.className = ''" class="close"></a>
      <!-- <div (click)="onClick()">CLIQUER</div> -->
      <button [disabled]="!ExpenseForm.valid">Ajouter la dépense</button>
    </form>
  </div>
  <h2>Récapitulatif :</h2>
  <ul id="dette" *ngIf="this.allLoaded">
    <li class="detteList" *ngFor="let dette of group.listMoney">
      <div id="user1">
        {{ dette.user2 }}
      </div>

      <div id="user2">
        {{ dette.user1 }}
        <span *ngIf="dette.user1 == this.user.username">(vous)</span>
      </div>
      <div id="amout">{{ dette.amount.$numberDecimal }} €</div>
      <button class="button" [disabled]="dette.user2 != this.user.username">
        <div> Régulariser</div>
        <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
          <g id="wallet">
            <path
              d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z"
              fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
            <path
              d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z"
              fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
            <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1"
              stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
            <path
              d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z"
              fill="#7b8f91" />
            <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
          </g>
        </svg>
      </button>
    </li>
  </ul>
</div>