<div class="mainPage">
  <div id="loginForm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Connexion</h2>
      <div class="divInfos">
        <label for="username">Utilisateur</label
        ><input
          type="text"
          name="username"
          id="username"
          formControlName="username"
          required
        />
      </div>
      <div class="divInfos">
        <label for="password">Mot de passe</label
        ><input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          required
        />
      </div>
      <div [@inOutAnimation] class="error" *ngIf="this.errorLogin">
        {{ this.errorLogin }}
      </div>
      <!-- <div (click)="onClick()">CLIQUER</div> -->
      <button [disabled]="!loginForm.valid">Connexion</button>
    </form>
    <button (click)="loginWithGoogle()" class="google-login-btn">Google</button>
    <div class="noAccount">
      <h3>Pas de compte ?</h3>
      <div routerLink="/register">
        Pas de soucis, <u style="cursor: pointer"> Inscrivez vous</u>
      </div>
    </div>
  </div>
</div>
