.alert {
  top: 1vw;
  right: 1vw;
  opacity: 0;
  position: absolute;
  animation: animationIn 0.2s ease 0.1s forwards;
  -webkit-animation: animationIn 0.2s ease 0.1s forwards;
}
.alert > div {
  box-shadow: -12px 12px 34px #d65025;
  position: absolute;
  padding: 0.85rem 1.5rem;
  border-radius: 15px;
  background: rgb(243, 31, 31);
  font-size: 1.5em;
  /* border: 1px solid transparent; */
  top: 10px;
  right: 10px;
  width: max-content;
  display: flex;
  align-items: center;
}
.alert-danger > div {
  color: #fff;
  background-color: #f66e84;
  border-color: #f55f78;
}
.alert-success > div {
  color: rgb(255, 255, 255);
  background-color: rgb(83, 83, 228);
  border-color: #39c9ac;
}
.alert-warning > div {
  color: rgb(255, 255, 255);
  background-color: rgb(83, 83, 228);
  border-color: #ffbd31;
}
.alert-info > div {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

@keyframes animationIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
