<app-alert></app-alert>
<header>
  <div class="headerDivTop">
    <div routerLink="/" id="titre">{{ title }}</div>
    <div routerLink="/account" id="account">Mon Compte</div>
    <div class="groups">Mes groupes</div>
    <div class="notification">Notifications</div>
  </div>
  <div class="headerDivBottom">
    <div class="credits">Crédits</div>
    <div class="aPropos">A propos</div>
    <div class="disconnect" (click)="disconnect()">Déconnexion</div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<div id="separate"></div>
<!-- <footer>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300">
    <path
      fill="#291B44"
      fill-opacity="1"
      d="M 0 50 Q 700 250 1450 50 L 1450 300 L 0 300 Z"
    ></path>
  </svg>
  <div id="listFooter">
    <ul>
      <li>Nous contacter</li>
      <li>Un bug ? Une suggestion</li>
      <li>Condition Générales</li>
    </ul>
    <ul>
      <li>Qui Sommes nous ?</li>
      <li>S'inscrire à la newsletter</li>
      <li>
        <input
          type="text"
          name="emailNewsletter"
          placeholder="contact@gmail.com"
        />
      </li>
    </ul>
  </div>
</footer> -->
