header #titre {
  font-family: "Kaushan Script", cursive;
  font-size: 2em;
  color: white;
  padding: 2vh 0px;
  /* padding-left: 5vw; */
  font-weight: 300;
  text-shadow: 0.01em 0.01em 20px white;
}
header #titre:hover {
  /* text-shadow: 0.1em 0.1em 10px rgb(211, 68, 58); */
  transform: scale(1.1);
}
header {
  font-size: 24px;
  width: 13vw;
  height: 100vh;
  color: white;
  box-shadow: inset -138px 0px 98px -83px #d83f0b;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2vw;
  /* height: 7vh; */
  font-weight: 600;
}
.headerDivTop {
}
.headerDivTop,
.headerDivBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 30vh; */
  gap: 48px;
  padding: 2vh 0px;
}
.headerDivTop div,
.headerDivBottom div {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.headerDivTop div:hover,
.headerDivBottom div:hover {
  text-shadow: 0.1em 0.1em 10px rgb(211, 68, 58);
  transform: scale(1.1);
}
/* Style of Main */

main {
  background-color: var(--primary-color);
  width: 85vw;
  color: white;
}

@media (max-width: 768px) {
  header {
    width: 100vw;
    height: 15vh;
    box-shadow: inset 0px -102px 98px -84px #d83f0b;
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  header svg {
    padding: 1em;
  }
  main {
    width: 100vw;
    height: fit-content;
  }
  header #titre {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0.4284px #ffffff;
    font-size: 2.2em;
    padding: 0;
    margin-left: 5vw;
  }
  .respoDisable,
  .headerDivBottom {
    display: none;
  }
}

@media (min-width: 768px) {
  header svg {
    display: none;
  }
}
