.historyMainDiv {
  width: 90%;
  background-position: 0px 0px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 0px,
    /* Have one solid white area */ #ffffff 10vh,
    /* at the top (255px high). */ #c4c7c9 11vh,
    /* Then begin the gradient at 255px */ #ffffff 100%
      /* and end it at 100% (= body's height). */
  );
  box-shadow: -25px 25px 34px #d65025;
  border-radius: 20px;
  /* height: 85%; */
  color: black;
}

.titleHistory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.4em;
  padding: 1em;
}
.divHistory {
  width: 100%;
  display: flex;
  height: 80%;
  justify-content: center;
  overflow-y: scroll;
}
.divHistory ul {
  width: 80%;
  padding: 8px;
  gap: 20px;
  background-color: var(--box-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -7px 7px 16px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}
.expense {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  padding-bottom: 1em;
  box-shadow: 0px 24px 5px -24px #a2a2a2;
}
.title {
  font-weight: 700;
  font-size: 1.2em;
}
.virgule:nth-child(-1) {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--primary-color);
  font-size: 2em;
  cursor: pointer;
}
form {
  height: 0.01vh;
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}
form > button:disabled {
  filter: grayscale(1);
}
form > button {
  border: none;
  filter: none;
  transition: all ease-in-out 0.5s;
}
.leftExpense {
  display: flex;
  flex-direction: column;
}
.mat-option-text {
  font-size: 0.5em;
}
#amount {
  width: 15%;
}
form.active {
  /* height: 9vh; */
  animation: activateForm 0.5s ease-in-out forwards;
  visibility: visible;
}

@keyframes activateForm {
  0% {
    height: 0.01vh;
    visibility: visible;
    opacity: 0;
  }
  100% {
    height: 9vh;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .divHistory {
    /* height: 100%; */
  }
  .divHistory ul {
    width: 100%;
    border-radius: 0px;
  }
  .expense {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftExpense {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 1em;
  }
  .material-symbols-outlined {
    font-size: 1.5em;
  }

  .mat-option-text {
    font-size: 0.8em;
  }
  #amount {
    width: 30%;
  }
  .historyMainDiv {
    /* height: 90%; */
  }
}
