<!-- <span> Historique du groupe : {{ this.group.listUsers.length }} </span> -->

<div class="historyMainDiv">
  <div class="titleHistory">
    Historique des dépenses<span
      (click)="clickAddExpense()"
      class="material-symbols-outlined"
    >
      add_circle
    </span>
  </div>

  <div class="divHistory">
    <ul>
      <form
        [formGroup]="ExpenseForm"
        #formApparition
        class="expense"
        (ngSubmit)="onSubmit()"
      >
        <div class="leftExpense">
          <input
            class="title"
            type="text"
            name="name"
            id="name"
            formControlName="name"
            placeholder="Nom de la dépense"
            required
          />
          <mat-select placeholder="Payeur" name="item">
            <mat-option *ngFor="let item of this.teamUse" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-select placeholder="Participants" name="item" [multiple]="true">
            <mat-option *ngFor="let item of this.teamUse" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </div>

        <input
          type="number"
          name="amount"
          id="amount"
          formControlName="amount"
          placeholder="Montant"
          required
        />

        <div [@inOutAnimation] class="error" *ngIf="this.errorForm">
          Mauvais Form
        </div>
        <button
          [disabled]="!ExpenseForm.valid"
          (click)="clickAddExpense()"
          class="material-symbols-outlined"
        >
          add_circle
        </button>
      </form>

      <li class="expense" *ngFor="let expense of this.listExpense">
        <div class="leftExpense">
          <div class="title">{{ expense.title }}</div>
          <div class="user">
            de {{ listUser.get(expense.owner.toString()) }}
          </div>
          <div>
            pour
            <span *ngFor="let user of expense.listUsers; let i = index"
              >{{ listUser.get(user.toString())
              }}<span class="virgule" *ngIf="i < expense.listUsers.length - 1"
                >,
              </span>
            </span>
          </div>
        </div>
        <div class="date">{{ expense.date.slice(0, 10) }}</div>
        <div class="montant">{{ expense.amount.$numberDecimal }} €</div>
      </li>
    </ul>
  </div>
</div>
<!--  -->
