/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+JP:wght@500&family=Roboto+Mono&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
:root{
    --primary-color: #F9961F;
    --primary-light:#ecb571;
    --secondary-color: #c77b1e;
    --tertiary-color: #000;
    
}
ul{
    list-style: none;
}