#titreDefilant {
  padding-top: 25vh;
  margin-left: 5vw;
  width: 90%;
  height: 10vh;
  font-size: 2.2em;
  z-index: 5;
}

main h1 {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20vw;
  z-index: 5;
}

#buttonTry {
  border: none;
  color: white;
  margin-top: 10vh;
  width: fit-content;
  background-color: var(--secondary-color);
  padding: 2vw;
  font-size: 1.8em;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#buttonTry span {
  font-family: "Kaushan Script", cursive;
  font-size: 1.2em;
}
.family {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.mainPage {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .family {
    width: 50%;
  }
  .typing {
    font-size: 1.1em;
    width: 100%;
  }
  #titreDefilant {
    /* font-size: 1.5em; */
    padding-top: 10vh;
  }
  #buttonTry {
    padding: 0.5em;
    font-size: 2.1em;
  }
  h2 {
    font-size: 1.2em;
    margin-top: 10vh;
  }
}
