<div id="mainPageAccount">
  <div id="nbGroup">
    Vo<span *ngIf="this.nbGroups > 1">s</span
    ><span *ngIf="this.nbGroups == 1">tre</span> groupe<span
      *ngIf="this.nbGroups > 1"
      >s</span
    >
    de dépenses
  </div>

  <ul id="listGroup">
    <li
      routerLink="/gestion-group"
      [queryParams]="{ group: group.idGroup }"
      *ngFor="let group of groupNames"
    >
      <div class="nameGroup buttonShadow" *ngIf="group.nameGroup">
        <img
          class="imgGroup"
          src="../../assets/family.png"
          alt="family assets"
        />
        <div class="rightPart">
          <div>{{ group.nameGroup }}</div>
          <div id="participants">
            {{ group.participants.length }} Participant<span
              *ngIf="group.participants.length > 1"
              >s</span
            >
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="petitButtonShadow addGroup">
    <span (click)="addGroupToUser()" class="addAnother" *ngIf="!this.addGroup">
      Ajouter un autre groupe de dépense</span
    >
    <div *ngIf="this.addGroup" class="joinInput">
      <input placeholder="Code du Groupe" type="text" name="join" id="join" />
      <span (click)="addGroupToUser()" class="material-symbols-outlined">
        check
      </span>
    </div>
  </div>
  <div id="deconnexion" (click)="disconnect()">Déconnexion</div>
</div>
