#hello {
  width: fit-content;
  background-color: var(--primary-color);
  padding: 1em;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 5vh;
  box-shadow: 6px 6px 12px #bd7218, -6px -6px 12px #ffba26;
  font-size: 1.2em;
}

#container {
  width: 50%;
  padding: 2em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 15px;
  box-shadow: 6px 6px 29px #bfbfbf, -6px -6px 29px #ffffff;
}

#group {
  margin-top: 3vh;
  width: 100%;
}

#nbGroup {
  font-weight: 500;
}

.nameGroup {
  cursor: pointer;
  width: 100%;
  height: max-content;
  /* margin: 2em; */
  padding: 1em;
  background-color: var(--primary-color);
  border-radius: 30px;
}

.nameGroup div {
  font-size: 1.3em;
}

#participants {
  margin-top: 20%;
  font-size: 0.9em;
}

#participants div {
  padding: 0.5em;
  font-size: 0.9em;
}

#deconnexion {
  /*margin: 0 auto;
  */
  margin-top: 5vh;
  padding: 1em;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.822);
  box-shadow: 10px 10px 20px #aa1e1e, -10px -10px 20px #961111;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#deconnexion:hover {
  background-color: rgba(255, 0, 0, 0.822);
  box-shadow: 5px 5px 10px #aa1e1e, -5px -5px 10px #961111;
}

#mainPageAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#listGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* nowrap */
  flex-wrap: nowrap;
  gap: 5vw;
}

#listGroup li {
  width: 50%;
  display: flex;
    flex-direction: row;

}

.addGroup{
  width:fit-content;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5vh;
}
.joinInput{
  width: 100%;
  display: flex;
}
.addAnother{
  width: 100%;
  padding: 1em;
}


@media (max-width: 768px) {
  #mainPageAccount{
    margin-top: 10vh;
  }


}
