#loginForm {
  margin: 0 auto;
  width: 50%;
  margin-top: 10vh;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px;
  color: black;
  padding: 5vw;
  border-radius: 15px;
}

h2 {
  margin-bottom: 5vh;
}

.divInfos label {
  display: block;
}
.divInfos {
  margin-bottom: 5vh;
  height: 10vh;
  width: 90%;
}
.divInfos input {
  height: 4vh;
  width: 35%;
  margin-left: 15%;
  border-radius: 10px;
  background-color: rgb(233, 216, 196);
  border: 0;
  transition: all 0.2s ease;
  box-shadow: -5px 5px 17px rgb(168, 168, 168);
}

button {
  background-color: rgb(83, 83, 228);
  padding: 2vh;
  border: none;
  border-radius: 30px;
  font-size: larger;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s linear;
}

button:active:disabled {
  animation: secousse 0.1s linear 2;
}

button:disabled {
  background-color: rgba(255, 0, 0, 0.562);
}

@keyframes secousse {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.divInfos:nth-of-type(3) {
  margin-bottom: 0;
}

.error {
  background-color: rgba(255, 0, 0, 0.267);
  width: fit-content;
  font-size: 0.9em;
  font-weight: normal;
  padding: 1em;
  border-radius: 15px;
}

.subInfo {
  display: none;
  position: relative;
  top: -7vh;
  left: 55%;
  font-size: 0.8em;
  width: 20vw;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 10px;
}
.subInfo ul {
  margin-left: 1em;
}
input:focus ~ .subInfo {
  display: block;
}

input {
  padding-left: 1em;
}

.divInfos input:invalid {
  background-color: rgba(255, 0, 0, 0.188);
}

@media screen and (max-width: 768px) {
  #loginForm {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  #loginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divInfos {
    font-size: 1.2em;
  }
  .divInfos input {
    width: 80%;
    margin: 0 auto;
  }
  button {
    margin-left: 0 auto;
  }
  .subInfo {
    left: 30%;
    width: 40vw;
  }
}
